/* Общие стили для всей страницы */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    z-index: 1000;
  }
  
  button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  button:hover {
    color: #ccc;
  }
  
  .content {
    margin-top: 4rem; /* чтобы освободить место для фиксированной навигационной панели */
    padding: 1rem;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.333% - 1rem); /* Делает ширину каждого элемента третью часть контейнера с учетом отступов */
    margin: 0.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    box-sizing: border-box;
    position: relative; /* Добавлено для позиционирования кнопок */
  }
  
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 2rem; /* Базовый размер шрифта */
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
  }
  
  h3 {
    font-size: 1.5rem; /* Базовый размер шрифта */
    margin: 0.5rem 0;
    text-align: center;
    color: #333;
  }
  
  p {
    font-size: 1rem; /* Базовый размер шрифта */
    text-align: center;
    color: #666;
  }
  
  .cart-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0.5rem 0;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-container button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container span {
    font-size: 1.2rem;
    color: #333;
  }
  
  /* Медиа-запросы для адаптации под мобильные устройства */
  @media (max-width: 768px) {
    h2 {
      font-size: 1.8rem; /* Уменьшенный размер шрифта */
    }
  
    h3 {
      font-size: 1.4рем; /* Уменьшенный размер шрифта */
    }
  
    p {
      font-size: 0.9rem; /* Уменьшенный размер шрифта */
    }
  
    img {
      width: 90px;
      height: 90px;
    }
  
    .button-container span {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    h2 {
      font-size: 1.6rem; /* Еще меньший размер шрифта */
    }
  
    h3 {
      font-size: 1.2rem; /* Еще меньший размер шрифта */
    }
  
    p {
      font-size: 0.8rem; /* Еще меньший размер шрифта */
    }
  
    img {
      width: 80px;
      height: 80px;
    }
  
    .button-container span {
      font-size: 0.8rem;
    }
  }
  